* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: var(#201110);
    background-color: var(#24060f);
  }
  
  a {
    text-decoration: none;
    color: var(#c9889e);
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color:var(#450619) ;
  }
  
  button {
    background-color: var(#c62835);
    border: 0;
    padding: 1%;
    color: rgb(208, 134, 134);
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    color: #daccd0;
    background-color: var(#c62835);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(#201110);
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #daccd0;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #000000;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    background-color: #ddefdf;
    overflow: hidden;
  }

  header h1 {
    font-size: 1em;
  }
  header nav {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  }
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: var(#788585);
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: var(#857878);
  }
  
  /* login and signup */
.login-form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.signup-form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}